<!-- ── Bahan Bar ── -->
 <div class="container mt-3">
<div class="bg-white shadow-sm sticky-top rounded-4 rk-bahan-bar-border" style="z-index:1020;">
  <div class="container py-3">
    <div class="d-flex align-items-center gap-2 flex-wrap">
      <span class="small fw-semibold" style="color:#0C3318;">Bahan dipilih:</span>
      <div id="bahanTags" class="d-flex flex-wrap gap-2 flex-grow-1">
        <span class="text-muted fst-italic small">Pilih bahan di bawah</span>
      </div>
      <div class="d-flex gap-2">
        <button class="btn btn-outline-secondary btn-md fw-bold" onclick="resetBahan()"  style="background-color: #9FFFBB; color: #009B2E; border: none;">Batal</button>
        <button class="btn btn-success btn-md fw-bold" id="btnCari" onclick="cariResep()" disabled style="background-color: #00C53B; color: white; border: none;">Cari</button>
      </div>
    </div>
  </div>
</div>
</div>