<nav class="navbar bg-white shadow-sm header">
  <div class="container">
    <a class="navbar-brand fw-bold fs-5 rk-brand" href="/">RESEEPKU</a>

    <div>
      <a href="/jelajahi" class="navbar-brand rk-nav-link">
        Jelajahi
      </a>
      <a href="https://drive.google.com/drive/folders/1o6dc-j5u-7x5ENP_OSTVssIyryKNEIrH?hl=ID" class="navbar-brand rk-nav-link" target="_blank">
        Asset
      </a>
      <a href="/klasifikasi_bahan" class="navbar-brand rk-nav-link">
        Bahan Makanan
      </a>
    </div>
  </div>
</nav>
